<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<title>Results Page</title>
</head>
<body>
	<h1>Results Page</h1>
	<table border = "2">
	  <tr>
	    <th>Year</th>
	    <th>Name</th>
	    <th>Cover</th>
	    <th>IMDB Link</th>
	  </tr>
	  <% data['Search'].forEach(function(movie){ %>
	  <tr>
	    <% var imdb_url = 'https://www.imdb.com/title/' + movie['imdbID'] %>
	    <td><%= movie['Year'] %></td>
	    <td><%= movie['Title'] %></td>
	    <td><img src="<%= movie['Poster'] %>" alt=""></td>
	    <td><a href="<%= imdb_url %>">View on IMDB</a></td>
	  </tr>
	  <% }) %>
	</table>
	<br/>
 	<a href="/">Search Again!</a>
</body>
</html>
