<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<title>Results Page</title>
</head>
<body>
	<h1>Search For a Movie</h1>

	<form action="/results" method="get">
	    <input type="text" name="search" placeholder="search term">
	    <input type="submit">
	</form>
</body>
</html>